<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-mail</title>
</head>
<body>
    <table align="center" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center" style="padding:40px; background-color: #060606;">
                <a href="https://www.handhead.com" target="_blank">
                    <img 
                    src="https://res.cloudinary.com/nerdzonia/image/upload/c_scale,w_300/v1565556723/Cloudfix/handhead.negative.png" alt="handhead" width="300" height="auto">
                </a>
            </td>
        </tr>

        <!-- Content -->
        <tr>
            <td style="border: 1px solid black; padding: 40px 30px 40px 30px; background-color:  #d41e5b;">
                <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #ff1e5e; border-bottom-right-radius: 10px;  border-top-left-radius: 10px; box-shadow: 3px 3px 7px black">
                    <tr>
                        <td align="center" style="padding:8px 0 5px 0; background-color: #111111; border-bottom:3px solid black ;  border-top-left-radius: 10px;">
                            <img 
                            width="50"
                            height="auto"
                            src="https://res.cloudinary.com/nerdzonia/image/upload/c_scale,w_50/v1565556163/Cloudfix/circle.png"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #fff; font-size: 25px; padding:10px 50px 20px 50px;" align="center" >
                            Suporte da <strong><a style="color:white; text-decoration: none;" href="https://www.handhead.com" target="_blank">handhead</a></strong>.
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #fff; font-size: 20px; padding:10px 50px 20px 50px;" align="center">
                            Abaixo o seu link para acompanhamento do ticket
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #fff; font-size: 30px; padding:60px 50px 50px 40px;" align="center">
                            <strong style="font-size: 30px">
                                <a href="<%= link %>" style="padding:10px; color:#111111; border: 0.5px solid black; text-decoration: none; border-radius: 5px; background-color: #fff;" target="_blank">Consulte seu ticket</a>
                            </strong>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Footer -->
        <tr>
            <td>
                <table style="background-color: #111111; color: white;">
                    <tr>
                        <td align="center">
                            <table style="padding:5px 0 5px 0;">
                                <tr>
                                    <td width="350" align="center">
                                        <strong><a style="text-decoration: none; color:white;" href="#" target="_blank">contato@handhead.com.br</a></strong>
                                    </td>
                               
                                    <td width="350" align="center"> 
                                        <strong><a style="text-decoration: none; color:white;" href="#" target="_blank">(88) 2131-1148</a></strong>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table align="center">
                                <tr>
                                    <td>
                                        <a href="https://www.instagram.com/handheadtech/" target="_blank">
                                            <img width="33" height="auto" src="https://res.cloudinary.com/nerdzonia/image/upload/c_scale,w_30/v1565556793/Cloudfix/instagram.png" alt="Instagram" />
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.facebook.com/handhead.dev" target="_blank">
                                            <img width="30" height="auto" src="https://res.cloudinary.com/nerdzonia/image/upload/c_scale,r_30,w_30/v1565558064/Cloudfix/facebook.png" alt="Facebook" >
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.google.com.br/maps/place/handhead/@-7.2465936,-39.3159615,17z/data=!4m5!3m4!1s0x7a1828443805f0d:0x16fbada95548242e!8m2!3d-7.2465989!4d-39.3137728">
                                            <img width="30" height="auto" src="https://res.cloudinary.com/nerdzonia/image/upload/c_scale,r_30,w_30/v1565556799/Cloudfix/maps.png" alt="Google Maps">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>